.task-form-inner {
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 20px;
}

.task-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}