<form [formGroup]="taskForm" (ngSubmit)="onSubmit($event)" class="task-form">
    <div class="task-form-inner">
        <mat-form-field appearance="outline">
            <mat-label>Заголовок задачи</mat-label>
            <input matInput placeholder="Заголовок задачи" formControlName="title">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Текст задачи</mat-label>
            <textarea matInput placeholder="Текст задачи" formControlName="body"></textarea>
        </mat-form-field>

        <mat-form-field appearance="outline">   
            <mat-label>Срок выполнения</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="deadline">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Статус</mat-label>
            <mat-select formControlName="status">
                <mat-option value="Scheduled">Запланирована</mat-option>
                <mat-option value="In Progress">В работе</mat-option>
                <mat-option value="Done">Завершена</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Исполнители</mat-label>
            <mat-chip-grid #chipGrid aria-label="Исполнители">
                @for (assigner of assigners; track assigner.name) {
                    <mat-chip-row
                      (removed)="removeChip(assigner)"
                      [editable]="false"
                    >
                        {{ assigner.name }}
                      <button matChipRemove [attr.aria-label]="'remove ' + assigner.name">
                        <mat-icon>cancel</mat-icon>
                      </button>
                    </mat-chip-row>
                  }
                <input 
                    placeholder="Новый исполнитель..." 
                    [matChipInputFor]="chipGrid"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" 
                    [matChipInputAddOnBlur]="addOnBlur"
                    (matChipInputTokenEnd)="addChip($event)"
                />
            </mat-chip-grid>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Создать задачу</button>
    </div>
</form>