<mat-list class="sidebar-content">
    @for (task of tasks; track task) {
    <mat-list-item class="card">
            <mat-card>
            <mat-card-header>
                <mat-card-title>{{ task.title }}</mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>{{ task.body }}</mat-card-content>
            <mat-card-actions>
                <button mat-button>
                    Развернуть
                </button>
                <button mat-button>
                    Удалить
                </button>
            </mat-card-actions>
        </mat-card>
    </mat-list-item>
    }
    @if (tasks.length == 0) {
    <p>Вы еще не создали ни одной задачи.</p>
    }
</mat-list>